{% load static %}

<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_edit.css' %}">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
 


    <br><br><br><br>
<h3 style=" height:200px;text-align:center;color: red;">STUDENT SIGNUP</h3>
<br><br><br>
<div class="login-box" >
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="user-box">
        {% render_field userForm.username|attr:'required:true'  class="form-control" %}
        <label for ="username">Username</label>
      </div>
      
      <div class="user-box">
        {% render_field userForm.password|attr:'required:true'  class="form-control"%}
      <label for ="inputPassword4">Password</label>
      </div>
    </div>

    <div class="form-row">  
      <div class="user-box">
        {% render_field userForm.first_name|attr:'required:true'  class="form-control"%}
        <label for ="first_name">Firat Name</label>
      </div>
      <div class="user-box">
        {% render_field userForm.last_name|attr:'required:true'  class="form-control"%}
        <label for ="last_name">Last Name</label>
      </div>
       </div>

       <div class="form-row">
        <div class="user-box">
          {% render_field studentForm.mobile|attr:'required:true'  class="form-control" %}
        <label for ="mobile">Mobile</label>
        </div>
        <div class="user-box">
          {% render_field studentForm.address|attr:'required:true'  class="form-control"  %}
        <label for ="address">Address</label>
        </div>
        </div>
        <div class="form-row">
          <div class="user-box">
            {% render_field studentForm.sem|attr:'required:true' style="margin-left:120px;margin-top:0px;" class="form-control"  %}
          <label for ="sem">Semister</label>
          </div>
          </div>

      <div>
        
        <label  class="j" for ="profile_pic">Profile Picture</label>
        {% render_field studentForm.profile_pic|attr:'required:true' class="a" placeholder="" %}
        
        
  </div>
      <a><span></span><span></span><span></span><span></span>
        <button class="z"type="submit">
            Sign Up
        </button></a>
    <div>

  </form>


<br><br>
  </body>
</html>
