{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_edit.css' %}">
    <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </style>
</head>
<body>
{% block content %}
<div class="login-box" style="width:900px;height:600px;">
  <br>
  <h2 style="text-align:center; color:blue;">ADD COURSE CSV</h2>
  <form method="post" style="color:#03e9f4;" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <a><span></span><span></span><span></span><span></span>
        <button class="z"type="submit">
  Upload    </button></a>
  
  </form>
  {% if error_message %}
      <p style="color: red">{{ error_message }}</p>
  {% endif %}
  </form>
</div>
<br><br><br>
{% endblock content %}
</body>