<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <div class="container">
    <div>
        <div class="login-box">
        <div class="user-box">
            <h3 style=" text-align: center;color: red;">Admin Login</h3>
    
                <form class="box" method="post">
                    {% csrf_token %}
                    <p class="text-muted"> Please enter your username and password!</p>
                    <div class="user-box">
                     {% render_field form.username class="form-control" %}
                    <label>Username</label>
                    </div>
                    <div class="user-box">
                        {% render_field form.password class="form-control" %}
                    <label>Password</label>
                    </div>
                        <a><span></span><span></span><span></span><span></span> 
                        <button class="z"type="submit">
                            Submit
                        </button></a>

                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
